.logo__place_header {
  height: 32px;
  background-image: url(/images/logo_place_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 2;
}