.resources__logo_content_strelka {
  background-image: url(../../../../images/resources/__logo/_content/resources-strelka.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}