.feynman {
  padding-top: 80px;
  height: 790px;
  position: relative;
  background: #f2f2f2;
  background-image: url(/images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left 0% bottom 0%;
}