.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* head */

.header {
  display: flex;
  position: relative;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
}

/* Убрала высоту, и это едиственное из замечаний, над которым я в принципе не задумывалась :( буду внимательнее */
.logo {
  width: 183px;
}

.logo_place_header {
  height: 32px;
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  position: relative;
  left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  margin: 0;
  max-width:388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

/* description */

.description {
  padding-top: 100px;
}

.two-columns {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

/* поняла приняла */
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/* digits */

.digits {
  margin: 100px 0;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  margin: 0 auto;
  position: relative;
  /* cпозиционированые элементы (и их дети) перекрывают элементы без явно заданного позиционирования */
}

.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
  margin: 20px auto 0;
  position: relative;
}

.table {
  margin: auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  z-index: 2;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  z-index: 2;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  z-index: 2;
}

/* feynman */

.feynman {
  padding-top: 100px;
  height: 790px;
  position: relative;
  background: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left 0% bottom 0%;
}

.feynman__title {
  text-align: center;
  margin: 0 auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/* kaufman */

.kaufman {
  padding: 90px 0;
  position: relative;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {

}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

/* footer */

.footer {
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  position:relative;
  width: 90%;
}

.footer__column {
  display: flex;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.footer__column-heading {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-links {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links:last-of-type {
  margin-bottom: 16px;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}